

{% extends 'website/basic.html' %}
{% block title%} Recommendation {% endblock %}
  

 {% block css %} 

 input{
 background-color:white;
 margin-bottom:10px;
 border-radius:10px;
 color:black;
 }
 .col{
 background-color:white;
 }
 
 pre{
 font-size:18px;
 font-family:bold;
 color:red;
 }
 
 body{
    background-image:url("https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg?cs=srgb&dl=pexels-pixabay-260922.jpg&fm=jpg");
    background-repeat:repeat;
 }
 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
	  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  .main-container {
	padding: 20px;
  }
  
  /* HEADING */
  
  .heading {
	text-align: center;
  }
  
  .heading__title {
	font-weight: 600;
  }
  
  .heading__credits {
	margin: 10px 0px;
	color: #888888;
	font-size: 25px;
	transition: all 0.5s;
  }
  
  .heading__link {
	text-decoration: none;
  }
  
  .heading__credits .heading__link {
	color: inherit;
  }
  
  /* CARDS */
  
  .cards {
	display: inline-block;
	flex-wrap: wrap;
  }
  
  .card {
	margin: 26px;
	padding: 20px;
	width: 700px;
	min-height: 200px;
	display: grid;
	grid-template-rows: 20px 50px 1fr 50px;
	border-radius: 10px;
	margin-left: 26%;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
	transition: all 0.2s;
  }
  
  .card:hover {
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
	transform: scale(1.01);
  }
  
  .card__link,
  .card__exit,
  .card__icon {
	position: relative;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.9);
  }
  
  .card__link::after {
	position: absolute;
	top: 25px;
	left: 0;
	content: "";
	width: 0%;
	height: 3px;
	background-color: rgba(255, 255, 255, 0.6);
	transition: all 0.5s;
  }
  
  .card__link:hover::after {
	width: 100%;
  }
  
  .card__exit {
	grid-row: 1/2;
	justify-self: end;
  }
  
  .card__icon {
	grid-row: 2/3;
	font-size: 30px;
  }
  
  .card__title {
	grid-row: 3/4;
	font-weight: 200;
	font-size: 20px;
	color: #ffffff;
  }
  
  .card__apply {
	grid-row: 4/5;
	align-self: center;
  }
  
  /* CARD BACKGROUNDS */
  
  .card-1 {
	background: radial-gradient(#b8b0a9, #706458);
  }
  
  .card-2 {
	background: radial-gradient(#fbc1cc, #fa99b2);
  }
  
  .card-3 {
	background: radial-gradient(#76b2fe, #b69efe);
  }
  
  .card-4 {
	background: radial-gradient(#60efbc, #58d5c9);
  }
  
  .card-5 {
	background: radial-gradient(#f588d8, #c0a3e5);
  }
  
  /* RESPONSIVE */
  
  @media (max-width: 1600px) {
	.cards {
	  justify-content: center;
	}
  }
  
 
 {% endblock %}

       

   
{% block body %}

      


<div style="background-color:rgba(236, 236, 229, 0.986); border-radius: 52px;" class="container mb-8 pb-5 pt-5 mt-5">
<form method="POST" class="post-form" action="/update/{{guideline.id}}">
		{% csrf_token %}

	<div class="container">
		<br>
		<div class="form-group row">
		<label class="col-sm-1 col-form-lable"></label>	
			<div class="col-sm-4">
			</div>
		</div>
		{% load static %}


		<div class="form-group row">
			<label class="col-sm-2 col-form-lable"> <b>Title : </b> </label>
			<div class="col-sm-4">
				<input style="width: 400px ; color: rgb(0, 0, 0);" type="text" name="name" id="id_ename" value="{{ guideline.name }}"/>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-lable"> <b> Description : </b></label>
			<div class="col-sm-4">
				<input style="width: 400px; height: 300px;" type="text" name="description" value="{{ guideline.description }}">
			</input>

			</div>
		</div>

		
		&nbsp;&nbsp; 
		&nbsp;&nbsp; 
		&nbsp;&nbsp;   &nbsp;&nbsp; 
		&nbsp;&nbsp; 
		&nbsp;&nbsp;   &nbsp;&nbsp; 
		&nbsp;&nbsp; 
		&nbsp;&nbsp;   &nbsp;&nbsp; 
		&nbsp;&nbsp; 
		&nbsp;&nbsp;   &nbsp;&nbsp; 
		&nbsp;&nbsp; 
		&nbsp;&nbsp;   &nbsp;&nbsp; 
		&nbsp;&nbsp; 
		&nbsp;&nbsp;   &nbsp;&nbsp; 
		&nbsp;&nbsp; 
		&nbsp;&nbsp;   &nbsp;&nbsp; 
		&nbsp;&nbsp; 
		&nbsp;&nbsp; &nbsp;&nbsp; 
		&nbsp;&nbsp; 
		&nbsp;&nbsp; 
		&nbsp;&nbsp;   &nbsp;&nbsp; 
		&nbsp;&nbsp; 
		&nbsp;&nbsp;   &nbsp;&nbsp; 
		&nbsp;&nbsp; 
		&nbsp;&nbsp; 
		&nbsp;&nbsp; 
		&nbsp;&nbsp;   &nbsp;&nbsp; 
		&nbsp;&nbsp; 
		&nbsp;&nbsp; <button type="submit" class="btn btn-success">Update</button>
	</div>

</form>

{% endblock %}
</body>
</html>