{% extends 'website/basic.html' %}

{% block title%} Sign UP {% endblock %}




        {% block homeurl %} "\"{% endblock %}
        {% block abouturl %} "\about/" {% endblock %}
        {% block contacturl %} "\contact/" {% endblock %}


	

{% block css %}

#tab{
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
}
.bg-dark{
    color: black;
}
.containerr{
  margin-bottom: 10% !important;
  margin-left: 20%;
  font-family: sans-serif;	
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
  width:720px;
  height: 55em;
    margin:3% auto;
    border-radius: 25px;
    background-color: #130c04c9;

    box-shadow: 0 0 17px rgb(29, 28, 28);
  padding: 3%; }
.btn1 {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  margin-left:3px;
  font-size: 16px;
  cursor: pointer;
}
.form-submit{
    background: #685a48de!important;
}

/* Darker background on mouse-over */
.btn1:hover {
  background-color: RoyalBlue;
}
.mainn{
    background-image:url("https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg?cs=srgb&dl=pexels-pixabay-260922.jpg&fm=jpg");
}
.signin-formm{
    margin-left:25%
}

.form-group{
    border-radius:2%;
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

.username{
width: 90%;
    background-color: #d5d3cd;
    margin-left: 2%;
    color: var(--color-black);
    font-family: 'Cormorant Upright', serif;
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;}
.sig{
    color: white;
    font-style: bold;
    margin-top: -16%;
}


{% endblock %}


{% block body %}

    {% load static%}
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'front/css/style.css' %}">

    <div style="padding:100px 0;" class="mainn" bgcolor="red">

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="containerr">
                  

                    &nbsp; <h2 class=""><font color="white">Sign up</font></h2>
                     <br>
<form action="\signup/" method="post" class="register-form" id="register-form">
   {% csrf_token %}
	<div class="form-group">
		<label><i class="material-icons"> &nbsp; face</i></label>
		<input class="username" id="tab" type="text" name="fname" id="fname" required placeholder="Your First Name"/>
	</div>
	<div class="form-group">
		<label><i class="material-icons">&nbsp; face</i></label>
		<input id="tab" class="username" type="text" name="lname" id="lname" required placeholder="Your Last Name"/>
	</div>
	<div class="form-group">
		<label><i class="material-icons">&nbsp; call</i></label>
		<input id="tab" class="username"type="number" name="number" required id="number" placeholder="Your Mobile No"/>
	</div>
	<div class="form-group">
		<label><i class="material-icons">&nbsp; email</i></label>
		<input id="tab" class="username"type="email" name="email" required id="email" placeholder="Your Email"/>
	</div>
	<div class="form-group">
		<label><i class="material-icons">&nbsp; lock</i></label>
		<input id="tab" class="username"type="password" name="passw" id="passw" required placeholder="Password"/>
	</div>
	<div class="form-group">
		<label><i class="material-icons">&nbsp; lock</i></label>
		<input id="tab"class="username" type="password" name="re_pass" id="re_pass" required placeholder="Repeat your password"/>
	</div>
	<div class="form-group form-button">
		&nbsp;&nbsp;&nbsp;&nbsp;<input id="tab" type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
	</div>
</form>
<div class="social-login">
	
	
	
</div>

</div>
<div class="signup-image">


                    </div>
                </div>
            </div>
        </section>

    </div>
	
    	
{% endblock %}