.profile-img-card{
  width: 20%;
  margin-left: 20%;
}
input.form-control{
  width:  80%;
  margin-left: 10% ;
  margin-top: 5%;
}

.imgnavbar{
  width: 90%;
  margin-left: -2020%;

}

.password{
  margin-left: 20% ;
  font-weight: 2%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgba(42, 46, 42, 0.918);

  font-size: 26px;

  display:inline-block;

}

.imglogin{
  width: 25%;
  margin-left: 35%;
}
.cardb{

  margin-bottom: 10% !important;
  margin-left: 20%;
  font-family: sans-serif;	
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
  width: 420px;
  height: 30em;
    margin:10% auto;
    border-radius: 25px;
    background-color: #b8b0929c;

    box-shadow: 0 0 17px rgb(241, 239, 239);
  padding: 3%;
  
}
.navbar-expand{
  justify-content: flex-end;
}
.navbar-nav > li{
  margin-left:30px;
  margin-right:30px;
}
nav .navbar-nav li a{
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  color: rgb(20, 17, 17) !important;
  letter-spacing: 0.8px;
  padding: 0 30px;
  opacity: 1.85;


  }

  .btn{
    width: 50%;
    margin-left: 25%;
    background-color: #a7945d;
    color:rgb(76, 104, 129);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

  }
  .bg{
    background-color: #a7945d;
  }
  